<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="TrueCraft" Language="1033" Version="0.0.1.0" Manufacturer="SirCmpwn" UpgradeCode="ddbaa36c-3a16-4452-8bdb-885c5bb18f9c">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

    <Feature Id="Truecraft" Title="TrueCraft">
      <Feature InstallDefault="local" Id="ClientFeature" Title="TrueCraft Client" Level="3" Description="The TrueCraft client." ConfigurableDirectory="CLIENT_FOLDER">
        <Feature InstallDefault="followParent" Id="LauncherFeature" Title="TrueCraft Launcher" Level="3" Display="expand" Description="The TrueCraft launcher for TrueCraft." ConfigurableDirectory="LAUNCHER_FOLDER">
          <ComponentGroupRef Id="TrueCraftClientCGroup" />
        </Feature>
        <ComponentGroupRef Id="TrueCraftClientCGroup" />
      </Feature>
      <Feature Absent="allow" Id="ServerFeature" Title="TrueCraft Server" Level="1000" Display="expand" Description="The TrueCraft server." ConfigurableDirectory="SERVER_FOLDER">
        <ComponentGroupRef Id="TrueCraftServer" />
      </Feature>
    </Feature>
    
    <UIRef Id="WixUI_Mondo" />
    <UIRef Id="WixUI_ErrorProgressText" />
	</Product>
  
	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
        <Directory Name="TrueCraft" Id="TrueCraft">
          <Directory Id="CLIENT_FOLDER" Name="Client">
            <Directory Id="CLIENT_CONTENT" Name="Content">

            </Directory>
          </Directory>
          <Directory Id="SERVER_FOLDER" Name="Server">
          </Directory>
          <Directory Id="LAUNCHER_FOLDER" Name="Laucher">
          </Directory>
        </Directory>
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
    <ComponentGroup Id="TrueCraftClientContent" Directory="CLIENT_CONTENT">
      <Component Id="dejavu.fnt" Guid="*">
        <File Id="dejavu.fnt" Source="..\TrueCraft.Client\bin\Release\Content\dejavu.fnt" KeyPath="yes" />
      </Component>
      <Component Id="dejavu_0.png" Guid="*">
        <File Id="dejavu_0.png" Source="..\TrueCraft.Client\bin\Release\Content\dejavu_0.png" KeyPath="yes" />
      </Component>
      <Component Id="items.png" Guid="*">
        <File Id="items.png" Source="..\TrueCraft.Client\bin\Release\Content\items.png" KeyPath="yes" />
      </Component>
      <Component Id="terrain.png" Guid="*">
        <File Id="terrain.png" Source="..\TrueCraft.Client\bin\Release\Content\terrain.png" KeyPath="yes" />
      </Component>
    </ComponentGroup>
		<ComponentGroup Id="TrueCraftClientCGroup" Directory="CLIENT_FOLDER">
      <ComponentGroupRef Id="TrueCraftClientContent"/>
      <Component Id="fNbt.dll" Guid="*">
        <File Id="fNbt.dll" Source="..\TrueCraft.Client\bin\Release\fNbt.dll" KeyPath="yes" />
      </Component>
      <Component Id="fNbt.xml" Guid="*">
        <File Id="fNbt.xml" Source="..\TrueCraft.Client\bin\Release\fNbt.xml" KeyPath="yes" />
      </Component>
      <Component Id="MonoGame.Framework.dll" Guid="*">
        <File Id="MonoGame.Framework.dll" Source="..\TrueCraft.Client\bin\Release\MonoGame.Framework.dll" KeyPath="yes" />
      </Component>
      <Component Id="MonoGame.Framework.xml" Guid="*">
        <File Id="MonoGame.Framework.xml" Source="..\TrueCraft.Client\bin\Release\MonoGame.Framework.xml" KeyPath="yes" />
      </Component>
      <Component Id="OpenTK.dll" Guid="*">
        <File Id="OpenTK.dll" Source="..\TrueCraft.Client\bin\Release\OpenTK.dll" KeyPath="yes" />
      </Component>
      <Component Id="OpenTK.dll.config" Guid="*">
        <File Id="OpenTK.dll.config" Source="..\TrueCraft.Client\bin\Release\OpenTK.dll.config" KeyPath="yes" />
      </Component>
      <Component Id="Tao.Sdl.dll" Guid="*">
        <File Id="Tao.Sdl.dll" Source="..\TrueCraft.Client\bin\Release\Tao.Sdl.dll" KeyPath="yes" />
      </Component>
      <Component Id="Tao.Sdl.dll.config" Guid="*">
        <File Id="Tao.Sdl.dll.config" Source="..\TrueCraft.Client\bin\Release\Tao.Sdl.dll.config" KeyPath="yes" />
      </Component>
      <Component Id="TrueCraft.API.dll" Guid="*">
        <File Id="TrueCraft.API.dll" Source="..\TrueCraft.Client\bin\Release\TrueCraft.API.dll" KeyPath="yes" />
      </Component>
      <Component Id="TrueCraft.Client.exe" Guid="*">
        <File Id="TrueCraft.Client.exe" Source="..\TrueCraft.Client\bin\Release\TrueCraft.Client.exe" KeyPath="yes" />
      </Component>
      <Component Id="TrueCraft.Core.dll" Guid="*">
        <File Id="TrueCraft.Core.dll" Source="..\TrueCraft.Client\bin\Release\TrueCraft.Core.dll" KeyPath="yes" />
      </Component>
      <Component Id="YamlDotNet.dll" Guid="*">
        <File Id="YamlDotNet.dll" Source="..\TrueCraft.Client\bin\Release\YamlDotNet.dll" KeyPath="yes" />
      </Component>
      <Component Id="YamlDotNet.xml" Guid="*">
        <File Id="YamlDotNet.xml" Source="..\TrueCraft.Client\bin\Release\YamlDotNet.xml"/>
      </Component>
		</ComponentGroup>
    <ComponentGroup Id="TrueCraftServer" Directory="SERVER_FOLDER">
      <Component Id="sfNbt.dll" Guid="*">
        <File Id="sfNbt.dll" Source="..\TrueCraft\bin\Release\fNbt.dll" KeyPath="yes" />
      </Component>
      <Component Id="sfNbt.xml" Guid="*">
        <File Id="sfNbt.xml" Source="..\TrueCraft\bin\Release\fNbt.xml" KeyPath="yes" />
      </Component>
      <Component Id="sIonic.Zip.Reduced.dll" Guid="*">
        <File Id="sIonic.Zip.Reduced.dll" Source="..\TrueCraft\bin\Release\Ionic.Zip.Reduced.dll" KeyPath="yes" />
      </Component>
      <Component Id="sTrueCraft.API.dll" Guid="*">
        <File Id="sTrueCraft.API.dll" Source="..\TrueCraft\bin\Release\TrueCraft.API.dll" KeyPath="yes" />
      </Component>
      <Component Id="sTrueCraft.Core.dll" Guid="*">
        <File Id="sTrueCraft.Core.dll" Source="..\TrueCraft\bin\Release\TrueCraft.Core.dll" KeyPath="yes" />
      </Component>
      <Component Id="TrueCraft.exe" Guid="*">
        <File Id="TrueCraft.exe" Source="..\TrueCraft\bin\Release\TrueCraft.exe" KeyPath="yes" />
      </Component>
      <Component Id="sYamlDotNet.xml" Guid="*">
        <File Id="sYamlDotNet.xml" Source="..\TrueCraft\bin\Release\YamlDotNet.xml"/>
      </Component>
      <Component Id="sYamlDotNet.dll" Guid="*">
        <File Id="sYamlDotNet.dll" Source="..\TrueCraft\bin\Release\YamlDotNet.dll"/>
      </Component>
    </ComponentGroup>
	</Fragment>
</Wix>